.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--border-accent);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--zir-emerald);
  }
}
